
/* logo  */
img[ alt='logo']{
     width: 9rem;
    
}

/* body  */
body{
    text-align: center;
}

/* image  */
img[alt = 'Profile']{
    border-radius: 30px;
}

/* Custom variables */
:root{
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: hsla(110, 65%, 63%, 0.856);
    --awesomeColor: rgb(99, 237, 84);
    --green: rgb(25, 208, 25);
    --mainBox-shadow: -8px -3px 23px 5px rgba(149, 225, 98, 0.75);
}
/* Education */
.education {
    width: 40em;
    margin: 5px auto;
    padding: 10px;
}
.card {
    border: 4px solid var(--green);
    margin: 10px 0;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    background-color: var(--alternative);
}  
.card:nth-child(odd) {
    position: relative;
    box-shadow: .5vw .2vw .7vw var(--awesomeColor);
}

.card:nth-child(even) {
    box-shadow: .5vw .2vw .7vw var(--awesomeColor);
    margin-left: auto;
    position: relative;
}
/* html  */
#myBar {
    width: 10%;
    height: 30px;
    background-color: #57df5a;
    text-align: center; 
    line-height: 30px;
    color: white;
   
  }

  #myProgress{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  /* css  */
  #myBar1 {
    width: 10%;
    height: 30px;
    background-color: #57df5a;
    text-align: center; 
    line-height: 30px;
    color: white;
   
  }

  #myProgress1{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  /* bootstrap  */
  #myBar2 {
    width: 10%;
    height: 30px;
    background-color: #57df5a;
    text-align: center; 
    line-height: 30px;
    color: white;
   
  }

  #myProgress2{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  /* javascript  */
  #myBar3 {
    width: 10%;
    height: 30px;
    background-color: #57df5a;
    text-align: center; 
    line-height: 30px;
    color: white;
   
  }

  #myProgress3{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }


  .click{
    border-radius: 10px;
    margin-top: 10px; 
    background-color: white;
    color: black;
}

.click:hover{
    background-color: #57df5a;
}
/* testimonial  */
#card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    font-size: 20px ;
}
#card-body img {
width: 300px;
height: 500px;
object-fit: cover;
border-radius: 20px;
}


/* footer  */
.linkedin{
    color: rgb(37, 33, 33);
    text-decoration: none;
    margin-right: 5px;
   
}

.git{
    color: rgb(37, 33, 33);
    text-decoration: none;
    margin-left: 5px;
}


footer{
    background-color: #cdf2b0;
    margin-top: 10px;
    padding: 20px;
}

/* Media query */
@media screen and (width < 900px) {
    /* Education */
    .education {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        align-items: center;
    }
    .card{
        width: 100%;
        flex-wrap: wrap;
    }
    .card a , .card p, footer p{
        font-size: small;
    }
    .card:nth-child(odd) {
        margin-left: 0;
    }
    .card:nth-child(odd)::after {
        content: none;
    }
    .card:nth-child(even) {
        margin-left: 0;
    }
    .card:nth-child(even)::after {
        content: none;
    }
}